<% if @trainer.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">

    <ul>
      <% trainer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
